#wallpaper,
#widgets-overlay {
    animation: fade-in 0.3s ease-in;
}

#widgets-button:hover,
#settings-button:hover,
.footer-icon:hover,
#close-button:hover {
    transform: scale(1.1);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.99);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#widgets-button.hidden,
#settings-button.hidden {
    transition: opacity 0.2s ease-in-out;
}

.slider:before {
    transition:
        transform 0.2s ease,
        background 0.2s ease;
}

.settings-input-max-length {
    transition: font-size 0.2s ease;
}

#settings-menu-container {
    transition: right 0.2s ease;
}
