html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wallpaper-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#settings-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: transparent;
}

#widgets-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: transparent;
}

#widgets-button.hidden,
#settings-button.hidden {
    opacity: 0;
    pointer-events: auto;
}

#widgets-button.hidden:hover,
#settings-button.hidden:hover {
    opacity: 1;
}

.icon {
    margin: auto;
}

#widgets-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    pointer-events: none;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.widget-area.visible {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#settings-menu-container.hidden {
    position: absolute;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100vh;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-y: auto;
}

#settings-menu-container.show {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100vh;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-y: auto;
}

#widgets-menu-container.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 220px;
    z-index: 1;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#debug-console {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px;
    height: 300px;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.menu-title {
    align-self: center;
    font-size: 28px;
    font-weight: bold;
}

.category-title {
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
}

.settings-container {
    padding: 12px;
    border-radius: 8px;
}

.text {
    font-family: "Arial";
}

#settings-footer-container {
    margin: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input,
.settings-type-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
}

.switch input:checked + .slider:before,
.settings-type-toggle:checked + .slider:before {
    transform: translateX(26px);
}

.settings-type-input {
    margin-left: 12px;
    max-width: 190px;
    border: 0px solid;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    font-size: 12px;
}

.settings-type-input-container {
    position: relative;
    display: inline-block;
}

.settings-input-max-length {
    position: absolute;
    right: 10px;
    top: 10%;
    pointer-events: none;
    font-size: 8px;
}

.settings-type-input:focus + .settings-input-max-length {
    font-size: 12px;
}

.settings-type-number {
    margin-left: 12px;
    max-width: 50px;
    border: 0px solid;
    border-radius: 24px;
    padding: 12px;
    outline: none;
    font-size: 12px;
}

.settings-type-select {
    margin-left: 12px;
    width: 100px;
    max-width: 140px;
    padding: 12px;
    font-size: 12px;
    border-radius: 16px;
    cursor: pointer;
}

.settings-type-button {
}

.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
