<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="title"></title>
        <script defer src="main.js"></script>
        <!-- Note: The default theme is not contains any colors.
        Colors will be loaded from: themes/default/colors.css
        So you can change colors easier.
        Colors + animations loads as theme. If you dont need these, just disallow these themes. -->
    </head>
    <body>
        <div id="container">
            <div id="wallpaper-container">
                <img src="" id="wallpaper" />
            </div>
            <div id="widgets-overlay"></div>
        </div>
        <div id="settings-menu-container" class="hidden"></div>
        <div id="widgets-menu-container" class="hidden"></div>
    </body>
</html>
